.ProjectEditorPanel {
  display: flex;
  flex-direction: column;
  width: 270px;
  overflow-y: auto;
  min-height: 0;
  min-width: 0;

  border-right: 1px solid lightgray;

  padding: 16px;
  gap: 8px;
}

.ProjectName {
  font-size: 18px;
  font-weight: bold;
}

.SidebarHeader {
  font-weight: bold;
  margin-top: 16px;
}

.BottomButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
