.ProjectManager {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    overflow: scroll;

    max-width: 400px;
}

.MembersList {
    
}

.Member {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 8px;
    align-items: center;
}