.AddPointButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin: -16px 0;
  z-index: 6;
}

.AddPointButton.AddPointButton.alwaysVisible {
  margin: 4px 0;
}

.icon {
  display: flex;
  color: rgba(0, 0, 0, 0.25);
  margin: 0 8px;
  font-size: 12px;
  transform: scale(0);
  transition: transform 0.125s;
}

.AddPointButton:hover>.icon {
  transform: unset;
}

.buttonContainer {
  flex: 1;
  transition: transform 0.125s;
  transform: scale(0);
}

.buttonContainer:first-of-type {
  display: flex;
  justify-content: flex-end;
  transform-origin: right;
}

.buttonContainer:last-of-type {
  display: flex;
  justify-content: flex-start;
  transform-origin: left;
}


.AddPointButton:hover>.buttonContainer,
.AddPointButton.alwaysVisible>.buttonContainer {
  transform: scale(1);
}

.buttonContainer>button {
  padding: 6px;
  font-size: 13px;
}
