.Waypoint {
  margin: 4px 0;
  background-color: rgb(233, 251, 255);
  color: rgb(10, 84, 102);
  --input-decoration-color: rgb(68, 135, 141);
  border-radius: 10px;
}

.waypointCardHeader {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 8px;
}

.waypointNumber {
  font-weight: bold;
  width: 16px;
  text-align: center;
}

input.waypointTitle {
  all: unset;
}

input.waypointTitle::placeholder {
  color: rgb(83, 125, 134);
}

button.waypointButton {
  all: unset;
  user-select: none;
  cursor: pointer;

  padding: 3px;
  padding-top: 5px;
}

button.waypointExpandCollapseButton {
  transition: transform 0.125s ease;
}

.Waypoint.expanded button.waypointExpandCollapseButton {
  transform: rotate(180deg);
}

section.waypointExtraContent {
  display: none;
}

.Waypoint.expanded section.waypointExtraContent {
  display: flex;
  flex-direction: column;

  padding: 12px;
  padding-top: 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  gap: 4px;

  background-color: rgb(242, 254, 255);
}

.Waypoint :global(label.inline-label) {
  color: rgb(68, 135, 141);
  background-color: rgb(245, 253, 255);
  border-radius: 3px;
  padding: 1px 2px;
}
