.TourPanel {
  width: 384px;
  padding: 16px;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: auto;
}

.waypointsHeader {
  display: flex;
  justify-content: center;
  gap: 64px;

  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 4px;
  padding-bottom: 5px;

  text-align: center;

  font-size: 13px;
  color: rgb(54, 147, 170);
  border-bottom: 1px solid rgb(54, 147, 170);
}

.waypointsHeader>button {
  all: unset;
  user-select: none;
  cursor: pointer;
}

.waypointsHeader>button:last-child,
.waypointsHeader.pois>button:first-child {
  color: rgb(160, 160, 160);
}

.waypointsHeader.pois>button:last-child {
  color: rgb(54, 147, 170);
}

.waypointsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.waypointCard {
  display: flex;
  background-color: rgb(203, 233, 254);
  color: rgb(11, 58, 91);
  border-radius: 12px;
  padding: 0 8px;
}

.waypointName {
  flex: 1;

  padding: 12px 8px;
}

.waypointButton {
  all: unset;
  cursor: pointer;
  user-select: none;

  padding: 12px 8px;
}

.addWaypoint {
  margin: 10px auto !important;
}
