.Waypoint {
  width: 384px;
  padding: 16px;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: auto;
}

.controlTypeSelector {
  display: flex;
  gap: 8px;
}

.controlTypeSelector>button {
  all: unset;
  user-select: none;
  cursor: pointer;

  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(237, 237, 237);
}

.controlTypeSelector>button[data-state="checked"] {
  background-color: rgb(20, 123, 196);
  color: rgb(238, 251, 255);
}
