.AssetChooser {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.assetNameContainer {
  flex: 1;

  display: flex;
  flex-direction: row;
}

.assetNameContainerInner {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.AssetChooser input {
  margin-bottom: 0;
}

.AssetChooser.hasResults:focus-within input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.AssetChooser.hasResults:focus-within .autoCompleteBox {
  display: flex;
}

.autoCompleteBox {
  display: none;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  user-select: none;
  border: 1px solid var(--input-decoration-color);
  border-top: none;
  flex-direction: column;
  align-items: stretch;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.autoCompleteItem {
  all: unset;
  user-select: none;
  cursor: pointer;

  padding: 8px;
}

.autoCompleteItem:focus {
  background-color: rgb(210, 231, 255);
}

.autoCompleteItem:not(:first-child) {
  border-top: 1px solid var(--input-decoration-color);;
}

.autoCompleteItem:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modalOverlay {
  z-index: 100;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(129, 129, 129, 0.5);
  backdrop-filter: blur(6px);
}

.modalContent {
  z-index: 100;
  background-color: white;
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.modalContent header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.modalInputWrapper>span {
  color: gray;
}

.modalActionButtons {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}
