.GalleryEditor {
  display: flex;
  flex-direction: column;

  margin: 4px 0;
}

.items {
  flex: 1;

  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}

.GalleryItem {
  all: unset;
  cursor: pointer;
  user-select: none;

  width: 64px;
  height: 64px;
  border-radius: 8px;
}

.GalleryItem>img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.modalActionButtons {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}
