body {
  --input-decoration-color: gray;

  margin: 0;

  font-family: sans-serif;
}

button.primary {
  all: unset;
  user-select: none;
  cursor: pointer;

  background-color: rgb(20 160 196);
  color: rgb(238, 251, 255);
  padding: 10px 18px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

button.secondary {
  all: unset;
  user-select: none;
  cursor: pointer;

  background-color: rgb(227, 249, 255);
  color: rgb(20 160 196);
  padding: 10px 18px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

label {
  font-size: 12px;
  color: gray;
}

label.inline-label {
  margin-bottom: -9px;
  margin-left: 8px;
  padding: 0 2px;
  background-color: white;
  z-index: 4;
  width: fit-content;
}

input[type="text"],
input[type="number"],
textarea,
.input-wrapper {
  all: unset;

  padding: 10px;

  border: 1px solid var(--input-decoration-color);
  border-radius: 5px;

  background-color: white;
}

.input-wrapper {
  display: flex;
}

.input-wrapper>input {
  all: unset;
  flex: 1;
}

.column {
  display: flex;
  flex-direction: column;
}
