.Project {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
}

.ProjectSidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 250px;

  border-right: 1px solid lightgray;
}

.ProjectSidebar>header {
  padding: 10px;
  padding-bottom: 5px;

  color: gray;
  font-size: 14px;
}

.ProjectSidebar button {
  all: unset;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 15px;

  color: rgb(48, 48, 48);
}

.ProjectSidebar button:enabled {
  cursor: pointer;
}

.ProjectSidebar button:enabled:hover {
  background-color: rgba(0, 0, 0, 0.03125);
}

.ProjectSidebar button:enabled:active {
  background-color: rgba(0, 0, 0, 0.0625);
}

.ProjectSidebar .dualButton {
  display: flex;
}
